[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymdown-extensions = "*"
python-markdown-math = "*"
mkdocs = "*"

[dev-packages]

[requires]
python_version = "3.7"
